/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin: 0; 
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* ESTO ES EL TRUCO: */
    padding-top: 70px; /* Deja espacio para que el header fijo no tape nada */
    box-sizing: border-box; /* Asegura que el padding no desborde la pantalla */
}

/* Opcional: Para asegurar que el contenido dentro de Angular ocupe el resto del alto */
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}